# Rによるやさしい統計学
# 第1部
# 第1章

In [1]:
3 + 5

[1] 8

In [2]:
10 - 3

[1] 7

In [3]:
2 * 3

[1] 6

In [4]:
# コメント
20 / 4

[1] 5

In [5]:
sqrt(16)

[1] 4

In [6]:
2^2

[1] 4

In [7]:
summary(c(173,178,180,183,182,174,179,179,174,192))

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  173.0   175.0   179.0   179.4   181.5   192.0

In [8]:
height <- c(173,178,180,183,182,174,179,179,174,192)
summary(height)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  173.0   175.0   179.0   179.4   181.5   192.0

In [9]:
hawks <- matrix(c(173,178,180,183,182,174,179,179,174,192, 17000,14000,9000,50000,30000,12000,900,2100,1000,25000),10,2)
hawks

      [,1]  [,2]
 [1,]  173 17000
 [2,]  178 14000
 [3,]  180  9000
 [4,]  183 50000
 [5,]  182 30000
 [6,]  174 12000
 [7,]  179   900
 [8,]  179  2100
 [9,]  174  1000
[10,]  192 25000

In [10]:
library(readr)

In [11]:
hawks2 <- read_csv("hawks.csv")

In [12]:
str(hawks2)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	10 obs. of  2 variables:
 $ height: int  173 178 180 183 182 174 179 179 174 192
 $ salaly: int  17000 14000 9000 50000 30000 12000 900 2100 1000 25000

In [13]:
hawks2

   height salaly
1     173  17000
2     178  14000
3     180   9000
4     183  50000
5     182  30000
6     174  12000
7     179    900
8     179   2100
9     174   1000
10    192  25000

In [14]:
varp <- function(x){
    return(var(x) * (length(x) - 1) / length(x))
}

In [15]:
x <- c(10, 13, 8, 15, 8)
var(x)
varp(x)

[1] 9.7

[1] 7.76

In [16]:
source("varp.r")

In [17]:
devtools::session_info()

Session info -------------------------------------------------------------------
Packages -----------------------------------------------------------------------
Session info -------------------------------------------------------------------
Packages -----------------------------------------------------------------------

 setting  value
 version  R version 3.2.3 (2015-12-10)
 system   x86_64, darwin13.4.0
 ui       X11
 language (EN)
 collate  ja_JP.UTF-8
 tz       Asia/Tokyo
 date     2016-05-14

 package   * version date       source
 base64enc   0.1-3   2015-07-28 CRAN (R 3.2.0)
 devtools    1.11.1  2016-04-21 CRAN (R 3.2.5)
 digest      0.6.9   2016-01-08 CRAN (R 3.2.2)
 evaluate    0.9     2016-04-29 CRAN (R 3.2.5)
 IRdisplay   0.3     2016-05-14 local
 IRkernel    0.5     2016-05-14 local
 jsonlite    0.9.20  2016-05-10 CRAN (R 3.2.5)
 magrittr    1.5     2014-11-22 CRAN (R 3.2.0)
 memoise     1.0.0   2016-01-29 CRAN (R 3.2.3)
 Rcpp        0.12.4  2016-03-26 CRAN (R 3.2.4)
 readr     * 0.2.2   2015-10-22 CRAN (R 3.2.0)
 repr        0.7     2016-05-13 CRAN (R 3.2.3)
 rzmq        0.7.7   2016-05-14 local
 stringi     1.0-1   2015-10-22 CRAN (R 3.2.0)
 stringr     1.0.0   2015-04-30 CRAN (R 3.2.0)
 uuid        0.1-2   2015-07-28 CRAN (R 3.2.0)
 withr       1.0.1   2016-02-04 CRAN (R 3.2.3)